<div class="box box-default">
  <form  action='<{url action=topshop_ctl_im_webcall@apply}>' method="post" data-validate-onsuccess="ajaxSubmit" id="form_delivery" role="form">
    <div class="box-header with-border">
      <h3 class="box-title">365webcall账户信息</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label>E-mail：</label>
            <input type="text" name="email" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>密码：<{/t}></label>
            <input type="password" name="pwd" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>重复密码：<{/t}></label>
            <input type="password" name="pwd_confirm" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>昵称：<{/t}></label>
            <input type="text" name="name" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>网址：<{/t}></label>
              <input type="text" name="url" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>地区：<{/t}></label>
            <input type="text" name="area" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>公司名称：<{/t}></label>
            <input type="text" name="corpName" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>电话号码：<{/t}></label>
            <input type="text" name="phone" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>QQ：<{/t}></label>
            <input type="text" name="qq" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>联系人：<{/t}></label>
            <input type="text" name="contact" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label><{t}>开启365webcall：<{/t}></label>
            <div class="radio">
              <label><input type='radio' name='use_im' value='1' checked='checked'><{t}>是<{/t}></label>
              <label><input type='radio' name='use_im' value='0' ><{t}>否<{/t}></label>
            </div>
          </div>
        </div>
      </div>
      <div class="help-block text-center"><a href='<{url action=topshop_ctl_im_webcall@index}>?flag=1'><{t}>已有账号？点此直接添加<{/t}></a></div>
    </div>
    <div class="box-footer text-center">
      <button type="submit" class="btn btn-info"><{t}>保存配置<{/t}></button>
    </div>
  </form>
</div>
<script>
function ajaxSubmit (e) {
  var form = e.target;
  e.preventDefault();
  $.post(form.action, $(form).serialize(), function(rs) {
    $(form).find('button[type=submit]').prop('disabled', false);
    if(rs.error) {
      $('#messagebox').message(rs.message);
      return;
    }
    if(rs.success) {
      $('#messagebox').message(rs.message, 'success');
    }
    if(rs.redirect) {
      location.href = rs.redirect;
    }
  });
}
</script>
