<{if $type=="hongbao"}>
<td>
	<{input type="hidden" name="scratchcardrules[$maxkey][bonus_type]"  value="hongbao"}>
	<{input type="hidden" name="scratchcardrules[$maxkey][hongbaoid]" value=""}>
	<{input type="hidden" name="scratchcardrules[$maxkey][hongbaomoney]" value=""}>
    <{input type="hidden" name="scratchcardrules[$maxkey][hongbaotype]" value=""}>
	<label>红  包:</label><{button label="选择关联红包"|t:"syscategory" class="chooseredpacket" onclick="choose_redpacket(this)" }><em><font color="red">*</font></em>&nbsp;&nbsp;<span class="redpacket-name"></span>
</td>
<{elseif $type=="point"}>
<td>
	<{input type="hidden" name="scratchcardrules[$maxkey][bonus_type]"  value="point"}>
	<label>积  分:</label><{input type="text" class="x-input" name="scratchcardrules[$maxkey][num]" value="" size=30 vtype="required&&unsignedint"}>&nbsp;点<em><font color="red">*</font></em>
</td>
<{elseif $type=="none"}>
<td>
	<{input type="hidden" name="scratchcardrules[$maxkey][bonus_type]"  value="none"}>
	<label>未中奖:</label>
	<{input type="text" name="scratchcardrules[$maxkey][bonus_desc]" value="" size=30 vtype="required" value="感谢您的参与"}>
	<em><font color="red">*</font></em>
</td>
<{elseif $type=="voucher"}>
<td>
	<{input type="hidden" name="scratchcardrules[$maxkey][bonus_type]"  value="voucher"}>
	<label>购物券:</label>
	<select name="scratchcardrules[<{$maxkey}>][voucher_id]">
	<{if $voucherList}>
	<{foreach from=$voucherList item=voucher}>
	    <option value="<{$voucher.voucher_id}>"><{$voucher.voucher_name}></option>
	<{/foreach}>
	<{/if}>
	</select>
</td>
<{/if}>
<td><{t}>获奖概率：<{/t}>
	<{input type="text" class="x-input" name="scratchcardrules[$maxkey][rate]" value="" size=10 maxlength=5 vtype="required&&unsigned"}>%<em><font color="red">*</font></em>
</td>
<td>
	<{img style="cursor:pointer;" onclick="move_p(this,'up')" src="bundle/icon_asc.gif" alt="向上"|t:"syscategory" class="operater" app="desktop"}>&nbsp;&nbsp;&nbsp;&nbsp;
	<{img style="cursor:pointer;" onclick="move_p(this,'down')" src="bundle/icon_desc.gif" alt="向下"|t:"syscategory" class="operater" app="desktop"}>&nbsp;&nbsp;&nbsp;&nbsp;
	<{img app="desktop" src="bundle/delete.gif" class="delete"  title="删除" style="cursor:pointer;" onclick="delete_item(this)" }>
</td>
