<div class="panel panel-default">
  <div class="panel-heading">
    PC端
    <div class="pull-right">
      <a href="<{url action=topshop_ctl_shop_newDecorate@edit type=pc}>">
        <i class="fa fa-edit"></i>编辑
      </a>
    </div>
  </div>
  <div class="panel-heading">
    WAP端
    <div class="pull-right">
      <a href="<{url action=topshop_ctl_shop_newDecorate@edit type=wap}>">
        <i class="fa fa-edit"></i>编辑
      </a>
    </div>
  </div>
  <div class="panel-heading">
    APP端
    <div class="pull-right">
      <a href="<{url action=topshop_ctl_shop_newDecorate@edit type=app}>">
        <i class="fa fa-edit"></i>编辑
      </a>
    </div>
  </div>
</div>