<{if count($screen.lv1_cat) != 1 || $activeFilter.lv1_cat_id}>
<div class="filter-attr goods-list-filter expand-panel">
  <div class="filter-attr-title"><{t}>一级券目<{/t}>：</div>
  <div class="filter-attr-list">
    <{foreach from=$screen.lv1_cat item=cat_row name=name}>
      <{if $cat_row.child_count >=1 }>
      <{if $cat_row.cat_id == $activeFilter.lv1_cat_id ||  in_array( $cat_row.cat_id,$activeFilter.lv1_cat_id)}>
      <a href="<{url action=topc_ctl_list@index _params=$filter d_lv1_cat_id=$cat_row.cat_id operationtype=remove}>" class="on" > <{$cat_row.cat_name}>  <i class="icon icon-close"></i></a>
      <{else}>
      <a href="<{url action=topc_ctl_list@index _params=$filter r_lv1_cat_id=$cat_row.cat_id operationtype=replace }>"> <{$cat_row.cat_name}>  <i class="icon icon-close"></i></a>
      <{/if}>
      <{/if}>
    <{/foreach}>
  </div>
  <{if count($screen.lv1_cat) > 18}>
  <div class="more-btn">
    <a href="javascript:void(0);" class="btn btn-link expand-btn">更多<i class="icon icon-arrow-down"></i></a>
    <a href="javascript:void(0);" class="btn btn-link unexpand-btn">收起<i class="icon icon-arrow-up"></i></a>
  </div>
  <{/if}>
</div>
<{/if}>
